@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #cad2c5; /* Light grey background color */
  --bg-color-dark: #212131; /* Dark grey background color */
}

body {
  background-color: var(--bg-color-light); /* Set light background color as default */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark); /* Set dark background color when in dark mode */
  }
}


